<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngIf="message" mat-list-item (click)="toLibrary()">Biblioteka</a>
      <a mat-list-item (click)="toShop()">Sklep</a>
      <a mat-list-item routerLink="admin">Panel admina</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a class="button" routerLink=""><span>G-store</span></a>
      <span class="spacer"></span>
      <a [hidden]="message" class="button is-info  is-inverted is-outlined" routerLink="/login">
        <span>Zaloguj</span>
      </a>
      <a [hidden]="message" class="button is-info  is-inverted is-outlined" routerLink="/registration">
        <span>Zarejestruj</span>
      </a>
      <span [hidden]="!message">Zalogowano jako: {{getMessage()}}</span>
      <a (click)="logOut()" [hidden]="!message" class="button is-info  is-inverted is-outlined">
        <span>Wyloguj</span>
      </a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
